.container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "l-unit r-unit"
    "d-red d-red";
}

.l-unit {
  grid-area: l-unit;
  text-align: center;
  padding-bottom: 8rem;
  padding-top: 3rem;
  border-right: 2px solid rgb(237, 116, 36);
}

.r-unit {
  grid-area: r-unit;
  text-align: center;
  padding-bottom: 8rem;
  padding-top: 3rem;
  border-left: 2px solid rgb(237, 116, 36);
}

.d-red {
  grid-area: d-red;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.l-input {
  margin-top: 2rem;
}

.r-input {
  margin-top: 2rem;
}

input[type="number"] {
  -moz-appearance: textfield;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
